/* Estilo general para que el mapa ocupe toda la pantalla */
.leaflet-control-attribution {
  display: none !important;
}
html,head, body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(255, 205, 253);
}

#map {
  /*height: calc(100vh - 56px);*/ /* 100% alto menos el alto del navbar (56px) */
  height: calc(100vh);
  width: 100%;
  background-color: blanchedalmond;
}

/* Estilo general del contenido dentro de los popups */
.popup-contenido {
  position: relative;
  padding-right: 40px; /* espacio para el icono accesibilidad */
  max-width: 300px;
}

/* Ícono de accesibilidad (o no) dentro del popup */
.popup-icono-accesibilidad {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 28px;
  height: auto;
}

/*popups*/
.popup-informacion-extra {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.popup-icono-informativo {
  width: 24px;
  height: 24px;
}
/* Ocultar la flecha */
.leaflet-popup-tip-container {
    display: none;
}

/* Opcional: mover popup un poco hacia arriba */
.leaflet-popup-content-wrapper {
    transform: translateY(-10px); /* ajusta según tu diseño */
}

/* Iconos audios */

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
  text-align: left;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px; /* puedes ajustar según tu diseño */
}
.card-text {
  text-align: justify;
}

.text-danger {
  color: #dc3545; /* Bootstrap rojo */
}
.fw-bold {
  font-weight: bold;
}
.d-block {
  display: block;
}
.mt-1 {
  margin-top: 0.25rem;
}

.leaflet-popup-close-button {
    font-size: 24px;    /* más grande, ajusta a tu gusto */
    width: 32px;        /* ancho del botón */
    height: 32px;       /* alto del botón */
    line-height: 32px;  /* centrar la X verticalmente */
    text-align: center; /* centrar horizontalmente */
    top: 5px;           /* ajustar posición vertical */
    right: 5px;         /* ajustar posición horizontal */
}
.leaflet-container a.leaflet-popup-close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    border: none;
    text-align: center;
    width: 24px;
    height: 24px;
    font: 30px / 24px Tahoma, Verdana, sans-serif;
    color: #757575;
    text-decoration: none;
    background: transparent;
}
/* Banderitas  */
.iconos-reproductores {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.icono-media {
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease;
}
.popup-contenido audio,
.popup-contenido video {
  width: 100%;
  margin-top: 8px;
}
.icono-media:hover {
  opacity: 0.5;
}

.media-contenedor {
  margin-top: 10px;
}
